---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
const { blog_folder } = config.settings;

const { post, className } = Astro.props;
const { id, slug, body, data, collection } = post;
---

<div class={className}>
  <div class="rounded border border-border p-6 lg:p-9">
    <ul class="flex items-center space-x-4">
      {
        data.categories.map((category: any) => (
          <li>
            <a
              class="text-primary"
              href={`/categories/${category.toLowerCase()}/index.html`}
            >
              {category}
            </a>
          </li>
        ))
      }
    </ul>
    <p class="my-4">{dateFormat(data.date)}</p>
    <h2 class="h3 mb-2 font-normal">
      <a href={`/${blog_folder}/${post.slug}/index.html`} class="block">
        {data.title}
      </a>
    </h2>
    <a
      class="btn-link mt-7 inline-flex items-center hover:text-primary"
      href={`/${blog_folder}/${slug}/index.html`}
    >
    </a>
  </div>
</div>
